name: Python Linter

on:
  push:
    branches:
      - main
    paths: 
      - "**/*.py"
  pull_request:
    branches:
      - main
    paths:
      - "**/*.py"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install the latest version of ruff
        uses: astral-sh/ruff-action@v3
        with:
          version: latest
      
      - name: Check formatting
        run: ruff format --check .
      
      - name: Check imports
        run: ruff check --select I .
